* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html, body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.header-container {
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 2px solid black;
    border-radius: 8px;
    height: 200px;
    width: 400px;
    background: #a29e9e;
}
.title {
    /* No change needed */
    border-bottom: 1px solid black; 
}
.buttons {
    padding: 10px;
    display: flex;
    justify-content: space-between;
}
button {
    padding: 5px;
    border-radius: 8px;

    background-color: white;
    cursor: pointer;
}
button:hover {
    background-color: lightgray;
}
button:active {
    background-color: gray;
    border: 2px solid black;
}
